<!DOCTYPE html>
<html lang="en" xmlns:v-on="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domini | Career</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="../assets/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <!--    universal-->
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/main.css">

<!--    this page styles-->
    <link rel="stylesheet" href="../assets/css/careerpage.css">
    <link rel="stylesheet" href="../assets/css/select.css">


</head>
<body id="app">

<!--HEADER -->

<header class="header__navbar" id="header">
    <div class="container desktop">
        <div class="logo__navbar">
            <a href="../" class="logo__navbar-link">
            <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
            </a>
        </div>
        <div class="header__navbar__list">
            <a href="../" class="header__navbar__list-item">Home</a>
            <a href="../about-us" class="header__navbar__list-item">About Us</a>
            <a href="../products" class="header__navbar__list-item">Products</a>
            <a href="#" class="header__navbar__list-item active">Career</a>
            <a href="../blog" class="header__navbar__list-item">Blog</a>
            <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
        </div>
    </div>
</header>

<div class="mobile__navbar">
    <div class="logo__navbar">
        <a href="../" class="logo__navbar-link">
        <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
        </a>
        <div class="burger_menu-open" v-on:click="showMobileNavbar()"></div>
    </div>
    <div class="header__navbar__list-mobile">
        <a href="../" class="header__navbar__list-item">Home</a>
        <a href="../about-us" class="header__navbar__list-item">About Us</a>
        <a href="../products" class="header__navbar__list-item">Products</a>
        <a href="#" class="header__navbar__list-item active">Career</a>
        <a href="../blog" class="header__navbar__list-item">Blog</a>
        <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
    </div>
</div>

<!--HEADER END-->

<section class="p-top-info" id="p-top-info">
    <div class="p-top-info-container">
        <h3 class="p-top-info-title">
            CAREER
        </h3>
        <h3 class="p-top-info-subtitle">
            in Domini Invest Group
        </h3>
    </div>
</section>


<section class="p-career" id="p-career">


        <div class="openings-form">
            <div class="openings-form-box">
                <h3 class="openings-form-box page-title">
                    Our Openings
                </h3>
                <form id="openings_form" class="openings_form" >
                    <div class="openings_form_item">
                        <h3 class="openings_form_item-title">
                            Departments
                        </h3>
                        <select class="select" id="departments" name="departments" v-on:change="filterCareer3">
                            <option class="openings_select-option" v-bind:value="department" v-for="department in departmentList">
                               {{ department }}

                            </option>
                        </select>

<!--                        <div class="select" id="departments" v-on:click="openSelList">-->
<!--                            <div class="select-box">-->
<!--                                <p class="selected-item" id="selectedDepart">Any departments</p>-->
<!--                                <svg width="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">&lt;!&ndash;! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. &ndash;&gt;<path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>-->
<!--                            </div>-->
<!--                            <ul class="sel-list" >-->
<!--                                <li class="sel-item" v-on:click="filterCareer" v-for="department in departmentList">{{ department }}</li>-->
<!--                            </ul>-->
<!--                        </div>-->

                    </div>
                    <div class="openings_form_item" >
                        <h3 class="openings_form_item-title">
                            Location
                        </h3>
                        <select name="location" class="select" id="location" v-on:change="filterCareer3">
                            <option v-bind:value="location"  v-for="location in locationList">
                                {{ location }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
        </div>


        <div class="products-container"  v-for="openingItem in openingsListShow">
            <div class="products-item__border-hover">
                <div class="products-item">
                    <div class="products-item-info">

                        <div class="product-item-info-container">
                            <h6 class="product-item-title">{{ openingItem.name }}</h6>
                            <div class="case-list">
                                <div class="case-item">
                                    <img src="../assets/img/career-icons/location.svg" alt="" class="case-item-img">
                                    <p class="case-item-text">{{ openingItem.location }}</p>
                                </div>
                                <div class="case-item">
                                    <img src="../assets/img/career-icons/workplace.svg" alt="" class="case-item-img">
                                    <p class="case-item-text">{{ openingItem.workPlace }}</p>
                                </div>
                                <div class="case-item">
                                    <img src="../assets/img/career-icons/worktype.svg" alt="" class="case-item-img">
                                    <p class="case-item-text">{{ openingItem.workType }}</p>
                                </div>
                                <div class="case-item">
                                    <img src="../assets/img/career-icons/workcategory.svg" alt="" class="case-item-img">
                                    <p class="case-item-text">{{ openingItem.department }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-item-more-btn">
                        <a href="../contact-us" class="products__more-btn">
                            Apply
                        </a>
                    </div>
                </div>
            </div>
        </div>

</section>





<!--FOOTER -->
<footer class="footer" id="footer">
    <div class="footer-logo-container">
        <img src="../assets/img/footer-logo.png" alt="" class="footer-logo">
<!--        <img src="../assets/img/logo_site_9.png" alt="" class="footer-mob-logo">-->
    </div>
    <div class="footer-container">
        <div class="footer-list-block">
            <div class="footer-list">
                <a href="../" class="footer-list-item">Home</a>
                <a href="../about-us" class="footer-list-item">About Us</a>
                <a href="#" class="footer-list-item">Products</a>
                <a href="../career" class="footer-list-item">Career</a>
                <a href="../contact-us" class="footer-list-item">Contact Us</a>
            </div>
            <div class="footer-list">
<!--                <a href="" class="footer-list-item">Terms</a>-->
                <a href="../contact-us" class="footer-list-item">For Investors</a>
<!--                <a href="" class="footer-list-item">Documents</a>-->
<!--                <a href="" class="footer-list-item">Offers</a>-->
                <a href="../contact-us" class="footer-list-item">Support</a>
            </div>
            <div class="footer-list">
                <a href="" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/map-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">Istanbul, Turkey</span>
                </a>
                <a href="mailto:contact@domini-group.eu" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/mail-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">contact@domini-group.eu</span>
                </a>
                <a href="tel:+909876543210" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/phone-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">+ 90 987 654 3210</span>
                </a>
                <div class="footer-social-list">
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/insta-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/facebook-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/twitter-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/youtube-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/linkedin-icon.png" alt="" class="footer-social-img">
                    </a>
                </div>
            </div>

        </div>
        <div class="footer-copyright">
            <p class="footer-copyright-text">
                Domini Invest Group, 2022
            </p>
        </div>
    </div>
</footer>
<!--FOOTER END-->

<!--universal main scripts-->
<script src="../assets/js/vue-next.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../assets/js/jquery.3.6.0.min.js"></script>




</body>
</html>