<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domini | About Us</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="../assets/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <!--    universal-->
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/main.css">

    <!--    this page styles-->
    <link rel="stylesheet" href="../assets/css/aboutuspage.css">


</head>
<body id="app">

<!--HEADER -->

<header class="header__navbar" id="header">
    <div class="container desktop">
        <div class="logo__navbar">
            <a href="../" class="logo__navbar-link">
            <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
            </a>
        </div>
        <div class="header__navbar__list">
            <a href="../" class="header__navbar__list-item">Home</a>
            <a href="#" class="header__navbar__list-item active">About Us</a>
            <a href="../products" class="header__navbar__list-item">Products</a>
            <a href="../career" class="header__navbar__list-item">Career</a>
            <a href="../blog" class="header__navbar__list-item">Blog</a>
            <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
        </div>
    </div>
</header>

<div class="mobile__navbar">
    <div class="logo__navbar">
        <a href="../" class="logo__navbar-link">
        <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
        </a>
        <div class="burger_menu-open" v-on:click="showMobileNavbar()"></div>
    </div>
    <div class="header__navbar__list-mobile">
        <a href="../" class="header__navbar__list-item">Home</a>
        <a href="#" class="header__navbar__list-item active">About Us</a>
        <a href="../products" class="header__navbar__list-item">Products</a>
        <a href="../career" class="header__navbar__list-item">Career</a>
        <a href="../blog" class="header__navbar__list-item">Blog</a>
        <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
    </div>
</div>

<!--HEADER END-->

<section class="p-top-info" id="p-top-info">
    <div class="p-top-info-container">
        <h3 class="p-top-info-title">
            ABOUT
        </h3>
        <h3 class="p-top-info-subtitle">
            Domini Invest Group
        </h3>
    </div>
</section>


<section class="about__main" id="about-page">

    <div class="about__main__top-info">
        <p class="about__main__top-info-text">
            <strong>Domini Invest Group</strong> is an international company for the purchase and transportation of the mining and metallurgical group of raw materials and finished products. The structure of the company includes offices and transport equipment in different areas of Europe, Asia, North and South America. We control the entire production chain - from ore and coal to semi-finished products and finished products. The proximity of our enterprises to key railway lines and ports allows us to promptly supply raw materials and metal products around the world.

        </p>

        <h6 class="about__main__top-info-text more-title" v-on:click="showAboutText()">
            MORE ABOUT THE STRUCTURE
        </h6>

        <p class="about__main__top-info-more-text">
            The managing company of Domini Invest Group is Domini Holding, a subsidiary of Domini (registration number: 1492292; address: Istanbul). The main shareholder of Domini is Sharaf Domini, who takes part in the management on a partnership basis.
        </p>
    </div>

    <div class="structure">
        <div class="structure__list">
            <div class="structure__item-border" v-for="structureItem in structureList">
                <div class="structure__item">
                    <div class="structure__item-box-img">
                        <img v-bind:src="structureItem.imgSrc" alt="" class="structure__item-img">
                    </div>
                    <div class="structure__item-box-info">
                        <h3 class="structure__item-box-title">
                            {{ structureItem.title }}
                        </h3>
                        <p class="structure__item-box-text">
                            {{ structureItem.text }}
                        </p>
<!--                        <a v-bind:href="structureItem.link" class="structure__item-box-more">-->
<!--                            learn more-->
<!--                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="company-heads">
        <h3 class="company-heads-title ">
            Company Heads
        </h3>
        <div class="company-heads-container">
            <div class="company-heads-item">
                <img src="../assets/img/SharafDomini.png" alt="" class="company-heads-item-img">
                <div class="company-heads-item-text-box">
                    <h3 class="company-heads-item-title structure__item-box-title">Sharaf Domini</h3>
                    <p class="company-heads-item-text about__main__top-info-text">President at Domini Invest Group</p>
                </div>
            </div>
            <div class="company-heads-item">
                <img src="../assets/img/ZoranDanevski.png" alt="" class="company-heads-item-img">
                <div class="company-heads-item-text-box">
                    <h3 class="company-heads-item-title structure__item-box-title">Zoran Donevski</h3>
                    <p class="company-heads-item-text about__main__top-info-text">Vice-President at Domini Invest Group</p>
                </div>
            </div>
        </div>
    </div>

</section>







<!--FOOTER -->
<footer class="footer" id="footer">
    <div class="footer-logo-container">
        <img src="../assets/img/footer-logo.png" alt="" class="footer-logo">
<!--        <img src="../assets/img/logo_site_9.png" alt="" class="footer-mob-logo">-->
    </div>
    <div class="footer-container">
        <div class="footer-list-block">
            <div class="footer-list">
                <a href="../" class="footer-list-item">Home</a>
                <a href="#" class="footer-list-item">About Us</a>
                <a href="../products" class="footer-list-item">Products</a>
                <a href="../career" class="footer-list-item">Career</a>
                <a href="../contact-us" class="footer-list-item">Contact Us</a>
            </div>
            <div class="footer-list">
<!--                <a href="" class="footer-list-item">Terms</a>-->
                <a href="../contact-us" class="footer-list-item">For Investors</a>
<!--                <a href="" class="footer-list-item">Documents</a>-->
<!--                <a href="" class="footer-list-item">Offers</a>-->
                <a href="../contact-us" class="footer-list-item">Support</a>
            </div>
            <div class="footer-list">
                <a href="" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/map-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">Istanbul, Turkey</span>
                </a>
                <a href="mailto:contact@domini-group.eu" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/mail-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">contact@domini-group.eu</span>
                </a>
                <a href="tel:+909876543210" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/phone-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">+ 90 987 654 3210</span>
                </a>
                <div class="footer-social-list">
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/insta-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/facebook-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/twitter-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/youtube-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/linkedin-icon.png" alt="" class="footer-social-img">
                    </a>
                </div>
            </div>

        </div>
        <div class="footer-copyright">
            <p class="footer-copyright-text">
                Domini Invest Group, 2022
            </p>
        </div>
    </div>
</footer>
<!--FOOTER END-->


<script src="../assets/js/vue-next.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../assets/js/jquery.3.6.0.min.js"></script>



</body>
</html>