
/*TOP INFO*/

.p-top-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../img/about-us-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    box-shadow: 0px 4px 63px 5px rgba(0,0,0,0.41);
}

.p-top-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-top-info-title{
    font-family: Axiforma;
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1;
}

.p-top-info-subtitle{
    font-family: Axiforma;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}

/*TOP INFO END*/

/*MAIN INFO */

.about__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.about__main__top-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
}

.about__main__top-info-text{
    font-family: Axiforma;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #3f3e3e;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.about__main__top-info-text.more-title{
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
}

.about__main__top-info-more-text{
    display: none;
}
.about__main__top-info-more-text.more-text-show{
    display: block;
    font-family: Axiforma;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #3f3e3e;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


/*STRUCTURE LIST */

.structure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.structure__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    padding: 1rem;
}

.structure__item-border{
    padding: 2px;
    background: linear-gradient(to left top, #f8f8f8 0%/*bottom-right color*/, #f8f8f8 65% /*middle color*/, #3e3e3e 100% /*top-left color*/);
}

.structure__item-border:nth-child(2n){
    padding: 2px;
    background: linear-gradient(to right top, #f8f8f8 0%/*bottom-right color*/, #f8f8f8 65% /*middle color*/, #3e3e3e 100% /*top-left color*/);
}

.structure__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: #f8f8f8;
}

.structure__item-border:nth-child(2n) .structure__item{
    flex-direction: row-reverse;
}

.structure__item-box-img{
    width: 50%;
    box-sizing: border-box;
}

.structure__item-box-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.structure__item-box-title{
    font-family: Axiforma;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3f3e3e;
    margin-bottom: 1.3rem;
}

.structure__item-box-text{
    font-family: Axiforma;
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 400;
    color: #3f3e3e;
    margin-bottom: 1.3rem;
}

.structure__item-box-more{
    font-family: Axiforma;
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 400;
    color: #3f3e3e;
    margin-bottom: 1.3rem;
    text-transform: uppercase;

}

/*OUR PRODUCTS LIST END*/

/*COMPANY HEADS*/
.company-heads{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.company-heads-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}
.company-heads-item-img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-right: 50px;
}
.company-heads-title{
    font-family: Axiforma;
    font-size: 2.3rem;
    line-height: 1.2;
    font-weight: 700;
    color: #3f3e3e;
    margin-bottom: 1.3rem;
}
.company-heads-item-title{
    margin: 0;
    line-height: 1;
    font-size: 1.2rem;
}

.company-heads-item-text-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*COMPANY HEADS END*/

@media all and (max-width: 980px){
    .p-products{
        padding-top: 40px;
    }
    .p-top-info-title{
        font-size: 3rem;
    }

    .about__main{
        padding: 1.2rem;
    }
    .structure__list{
        padding:0 1rem;
    }
    .structure__item{
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .structure__item-border:nth-child(2n) .structure__item{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .structure__item-img{
        width: 300px;
    }
    .structure__item-box-info{
        width: 100%;
    }
}

@media all and (max-width: 480px){
    .p-products{
        padding-top: 40px;
    }
    .p-top-info-title{
        font-size: 3rem;
    }

    .about__main{
        padding: 1.2rem;
    }
    .structure__list{
        padding:0 1rem;
    }
    .structure__item{
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .structure__item-border:nth-child(2n) .structure__item{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .structure__item-img{
        width: 300px;
    }
    .structure__item-box-info{
        width: 100%;
    }
    .company-heads-item{
        flex-direction: column;
    }
    .company-heads-item-img{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .company-heads-item-text-box {
        align-items: center;
    }
    .company-heads-item-text{
        text-align: center;
    }

}