.article__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article__main-box{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    padding: 5rem 1rem;
}

.article__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 670px;
}
.article__body-date{
    font-family: Axiforma;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 700;
    color: #898989;
}

.article__body-title{
    font-family: Axiforma;
    font-size: 2.2rem;
    line-height: 1.3;
    font-weight: 700;
    color: #3f3e3e;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.article__body-subtitle{
    font-family: Axiforma;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 700;
    color: #3f3e3e;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 90%;
}
.article__body-text{
    font-family: Axiforma;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #3f3e3e;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 90%;
}
.article__body-source-title{
    font-family: Axiforma;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    color: #3f3e3e;
    margin-top: 1rem;
    font-style: italic;
}
.article__body-source-link{
    font-family: Axiforma;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #3f3e3e;
    margin-bottom: 1rem;
    text-decoration: none;
}
ul{
    margin: 0;
}
.numbers li{
    list-style: none;
}

.more__articles{
    padding:0 1rem;
    width: 100%;
    max-width: 330px;
}
.more__articles-title{
    font-family: Axiforma;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 700;
    color: #3f3e3e;
    margin-bottom: 1rem;
}
.more__articles-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.more__articles-item{
    font-family: Axiforma;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #3f3e3e;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
}
.more__articles-item:hover{
    color:rgb(210, 30, 47);
}
.more__articles-item.active{
    color:rgb(210, 30, 47);
}
.more__articles-list-line{
    display: flex;
    border-radius: 7px;
    border-bottom: 1px solid #3e3e3e;
    border-top: 1px solid #3e3e3e;
    width: 100%;
}
.to-all__btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.to-all__btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    padding: 0 2rem;
}
.to-all__btn{
    background-color: rgb(210, 30, 47);
    color: #f1f1f1;
    font-family: Axiforma;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}
.share{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.share__box-icons{
    padding: 1rem 1rem 0;
}
.share__box-icons-link svg{
    width: 38px;
    margin: 4px;
}
.share__box-icons-link svg:hover{
    fill:rgb(210, 30, 47);
    stroke: rgb(210, 30, 47);
}
.img-box{
    display: flex;
    /*padding-left: 1rem;*/
}
.img-box img{
    max-width: 90%;
}
@media all and (max-width: 480px){
    .article__main-box{
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
    .more__articles{
        padding: 0;
    }
    .article__body-title{
        font-size: 1.5rem;
    }
}