/*TOP INFO*/

.p-top-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../img/blog.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    box-shadow: 0px 4px 63px 5px rgba(0,0,0,0.41);
}

.p-top-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-top-info-title{
    font-family: Axiforma;
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1;
}

.p-top-info-subtitle{
    font-family: Axiforma;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}

/*TOP INFO END*/

/*main section    */
.blog__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search{
    display: flex;
    padding: 5rem;
    flex-direction: column;
    align-items: center;
}
.search-container{
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__text{
    font-family: Axiforma;
    font-size: 1.5rem;
    font-weight: 600;
    color: #3e3e3e;
    margin-bottom: 10px;
    line-height: 1;
}

.search__input{
    font-family: Axiforma;
    font-size: 1rem;
    font-weight: 400;
    color: #3e3e3e;
    margin-bottom: 10px;
    line-height: 1;
    outline: none;
    border: 1px solid #3f3e3e;
    border-radius: 7px;
    padding:4px 10px;
    margin-left: 20px;
    width: 250px;
}
.search__input-box{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.search__input-box svg{
    position: absolute;
    right: 13px;
    top: 8px;
}

.articles__box{
    max-width: 1080px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.articles__box-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.articles__box-list-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.item-text-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding:0 2rem;
    max-height: 200px;
    height: 100rem;

    position: relative;
}

.item-date{
    position: absolute;
    right: 0;
    top:0;
    font-family: Axiforma;
    color: rgba(25,25,25,0.7);
    font-size: 0.9rem;
    line-height: 1;
}

.item-title{
    font-family: Axiforma;
    font-size: 1.35rem;
    font-weight: 600;
    color: #3e3e3e;
    margin-bottom: 10px;
    line-height: 1;
    max-width: 60%;
}
.item-text{
    font-family: Axiforma;
    font-size: 0.9rem;
    font-weight: 400;
    color: #3e3e3e;
    margin-bottom: 10px;
    line-height: 1.3;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.item-link{
    font-family: Axiforma;
    font-size: 1rem;
    font-weight: 400;
    color: #3e3e3e;
    line-height: 1;
}

/*SUBSCRIBE */

/*SUBSCRIBE TO NEWS*/

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.subscribe-subtitle{
    font-family: "Axiforma";
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color:#2e2e2e;
    max-width: 60%;
}

.subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subscribe-email-label{
    position: relative;
}

.subscribe-email-label::before{
    content: 'Email';
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 0.8rem;
    color: #555555;
    font-family: Axiforma;

}

.subscribe-email.form-item{
    text-align: left;
    margin-right: 20px;
    margin-top: 14px;
}

.subscribe__btn{
    font-size: 1.2rem;
    padding: 6px 15px;
    color: white;
    background: #d21e2f;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item {
    border: 1px solid #555555;
    border-radius: 5px;
    max-width: 327px;
    width: 100%;
    font-size: 1.2rem;
    padding: 6px;
    background-color: rgba(255,255,255,0);
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-bottom: 14px;
    margin-top: 4px;
}

@media all and (max-width: 980px) {
    .p-products {
        padding-top: 40px;
    }
    .p-top-info-title {
        font-size: 3rem;
    }



}

@media all and (max-width: 480px) {
    .search{
        padding: 5rem 1rem 0.6rem;
    }
    .search__input{
        margin-left: 0;
        width: 320px;
        padding: 10px;
    }
    .search__input-box svg{
        top: 14px;
    }
    .p-products {
        padding-top: 40px;
    }
    .p-top-info-title {
        font-size: 3rem;
    }
    .search-container{
        flex-direction: column;
    }
    .articles__box-list-item{
        flex-direction: column;
    }
    .item-text-box{
        align-items: flex-start;
        padding: 0.5rem 1rem;

    }
    .item-title{
        max-width: 100%;
    }
    .item-date{
        right: 35px;
        bottom: 10px;
        top: auto;
    }
    .item-img{
        width: 100%;
    }
    .item-img img{
        width: 100%;
    }
    .item-text{
        line-height: 1.5;
    }


    .subscribe-subtitle{
        max-width: 95%;
    }
    .subscribe-form{
        flex-direction: column;
    }
    .subscribe-email.form-item{
        margin-right: 0;
    }
    .subscribe__btn{
        width: 70%;
        padding: 10px;
        height: auto;
    }
    .subscribe-email-label::before{
        left: auto;
        right: 100px;
        bottom: -10px;
        top: auto;
    }
}