
/*TOP INFO*/

.p-top-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../img/career-page-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    box-shadow: 0px 4px 63px 5px rgba(0,0,0,0.41);
}

.p-top-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-top-info-title{
    font-family: Axiforma;
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1;
}

.p-top-info-subtitle{
    font-family: Axiforma;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}

/*TOP INFO END*/

/*OPENINGS FORM*/

.openings-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openings-form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
}

.openings_form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.openings_form_item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem ;
}

.openings_form_item-title{
    font-family: Axiforma;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 400;
    color: #3e3e3e;
    margin-left: 20px;
    margin-right: 20px;
}

/*OPENINGS FORM END*/


/*PRODUCTS LIST*/
.p-career{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 1rem;
}

.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 950px;
    width: 100%;
}

.products-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    transition: 0.6ms;
    box-sizing: border-box;
}

.products-item__border-hover{
    padding: 5px;
    width: 100%;
    background: #f8f8f8;
    border-radius: 7px;

}

.products-item__border-hover:hover{
    background: linear-gradient(-31.0deg, #ffffff -13%, #eaeaea 113%);
}

.products-item:hover{
    background: linear-gradient(-46.0deg, #eaeaea 0%, #ffffff 99%);
    border-radius: 7px;
}

.products-item:hover .products-item-more-btn{
    display: flex;
}



.products-item-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.products-image-block{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted #ececec;
    border-radius: 25px;
    width: 124px;
    height: 124px;
    margin: 20px;
}

.products-image-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px solid #ececec;*/
    border-radius: 25px;
    width: 88px;
    height: 88px;
    background-color: #fff;
    box-shadow: 8px 9px 33px 2px rgba(0,0,0,0.1);
}

.products-image{
    height: 36px!important;
}

.product-item-title{
    font-family: 'Axiforma';
    font-size: 1.1rem;
    font-weight: 600;
    color: #3f3e3e;
    /*margin-bottom: 16px;*/
    margin: 0 1.5rem 0 1.5rem;
}

.product-item-text{
    font-family: 'Axiforma';
    font-size: 0.8rem;
    font-weight: 300;
    color: #3f3e3e;
    margin: 0 0 0 1.5rem;
    max-width: 380px;
}

.products-item-more-btn{
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    width: 100%;
    padding: 10px;
}

.products__more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #d21e2f;
    border-radius: 7px;
    font-family: Axiforma;

}

.products__bottom-info-item{
    max-width: 950px;
    width: 100%;
    margin: 3rem 0 2rem 3rem;
    display: flex;
    justify-content: flex-start;
}


.products__bottom-info-text{
    font-family: Axiforma;
    color: #3f3e3e;
    font-size: 1.2rem;
    padding-left: 1rem;
    width: 97%;
}


/*OUR PRODUCTS LIST END*/

/*OPENINGS SELECT*/

/*.openings_select{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding: 10px 16px;*/
/*    border: 2px solid #3e3e3e;*/
/*    border-radius: 7px;*/
/*    background-color: #f8f8f8;*/
/*    text-align: center;*/
/*    font-family: Axiforma;*/
/*    color: #3f3e3e;*/
/*}*/
/*.openings_select-option{*/
/*    padding: 10px 16px;*/
/*    background-color: #f8f8f8;*/
/*    text-align: center;*/
/*    border: 1px solid rgba(25,25,25,0.3);*/
/*    color: #3f3e3e;*/
/*    font-family: Axiforma;*/

/*}*/

/*OPENINGS SELECT END*/

/*CASE LIST*/

.case-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.case-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.case-item-text{
    font-family: Axiforma;
    color: #3f3e3e;
    font-size: 0.6rem;
    font-weight: 300;
    margin-right: 10px;
    margin-left: 10px;
}

@media all and (max-width: 480px){
    .p-career{
        padding-top: 40px;
    }
    .p-top-info-title{
        font-size: 3rem;
    }
    .products-item-info{
        flex-direction: column;
    }
    .products-item-more-btn{
        display: flex;
    }
    .products-item{
        flex-direction: column;
        padding-top: 0;
    }
    .products__bottom-info-item{
        max-width: 330px;
        padding: 2rem 1rem 1rem 1rem;
        margin: 0;
    }
    .products__bottom-info-text{
        font-size: 0.75rem;
    }
    #openings_form{
        flex-direction: column;
    }
    .openings_form_item{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .openings_form_item-title{
        margin-bottom: 16px;
    }
    .case-item{
        padding: 0.2rem 0.6rem;
    }
    .products__more-btn{
        padding: 0.5rem 1rem;
    }
}