/*TOP INFO*/

.p-top-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../img/contacts-page_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    box-shadow: 0px 4px 63px 5px rgba(0,0,0,0.41);
}

.p-top-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-top-info-title{
    font-family: Axiforma;
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1;
}

.p-top-info-subtitle{
    font-family: Axiforma;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}

/*TOP INFO END*/

/*MAIN CONTAINER*/
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1080px;
    width: 100%;
}

.contact__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 1rem;
}

.contact__info-item{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0 10px 0;
    width: 100%;
}

.contact__info-title{
    font-family: Axiforma;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 700;
    color: #3e3e3e;
}

.red_line{
    display: block;
    border-bottom: 1px solid #d21e2f;
    border-top: 1px solid #d21e2f;
    width: 120px;
    margin-top: 8px;
}

.contact__list-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    text-decoration: none;
}

.contact__list-img-container{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contact__list-text{
    font-family: Axiforma;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    color: #3e3e3e;

}

.contact__social-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact__social-item{
    margin-right: 10px;
}
.contact__form{
    width: 50%;
}


#contact_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#contact_form > .form-item{
    border: 1px solid #555555;
    border-radius: 5px;
    /*max-width: 327px;*/
    width: 100%;
    font-size: 1.2rem;
    padding: 6px;
    background-color: rgba(255,255,255,0);
    text-align: left;
    outline: none;
    text-decoration: none;
    margin-bottom: 14px;
    margin-top: 4px;
}

.chekbox-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /*max-width: 327px;*/
    width: 100%;
}
.checkbox{
    margin: 0;
    margin-right: 10px;
    margin-top: 2px;
}
.chekbox-item-text{
    font-size: 0.7em;
    font-family: 'Axiforma';
    width: 100%;
}

textarea{
    display: block;
    padding: 1rem;
    width: 100%;
    border: 1px solid #3f3e3e;
    border-radius: 7px;
    margin-bottom: 20px;
    font-family: Axiforma;
    background-color: rgba(255,255,255,0);

}


.reg__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d21e2f;
    color: white;
    font-family: "Axiforma";
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px 14px;
    width: 200px;
    margin-top: 20px;
}


.iti{
    border: 1px solid #555555;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0);
    text-align: left;
    outline: none;
    text-decoration: none;
    margin-bottom: 14px;
    margin-top: 4px;
    font-family: Axiforma;
}
.iti__flag-container{
    border-radius: 7px;
}

.iti__selected-flag{
    border-radius: 7px;
}

input[name="phone2"]{
    padding: 6px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    background-color: rgba(255,255,255,0);

}

@media all and (max-width: 480px){
    .p-top-info-title{
        font-size: 3.3rem;
    }
    .contact-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .contact__info{
        padding: 1px 0;
    }
    .contact__form{
        width: 100%;
        padding-top: 2rem;
    }
}