@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Black Italic'), local('Axiforma-BlackItalic'),
    url('../fonts/Axiforma-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Bold'), local('Axiforma-Bold'),
    url('../fonts/Axiforma-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Thin Italic'), local('Axiforma-ThinItalic'),
    url('../fonts/Axiforma-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Heavy'), local('Axiforma-Heavy'),
    url('../fonts/Axiforma-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Medium'), local('Axiforma-Medium'),
    url('../fonts/Axiforma-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma SemiBold'), local('Axiforma-SemiBold'),
    url('../fonts/Axiforma-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Black'), local('Axiforma-Black'),
    url('../fonts/Axiforma-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Thin'), local('Axiforma-Thin'),
    url('../fonts/Axiforma-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Book'), local('Axiforma-Book'),
    url('../fonts/Axiforma-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma ExtraBold'), local('Axiforma-ExtraBold'),
    url('../fonts/Axiforma-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Regular'), local('Axiforma-Regular'),
    url('../fonts/Axiforma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Light'), local('Axiforma-Light'),
    url('../fonts/Axiforma-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


