

/*MAIN TOP INFO FORM*/

.top_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 50px 80px 50px;
    background-image: url("../img/rectangle_3_14.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.top_info-container{
    max-width: 1280px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.top_info-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 750px;
    padding: 10px 100px 50px 20px;
}

.top_info-text-title{
    font-family: 'Axiforma';
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 0;
}
.top_info-text-subtitle{
    font-family: 'Axiforma';
    font-size: 1.4rem;
    color: #ffffff;
    margin: 0;
}

.top_info-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    padding: 1.6rem;
    max-width: 390px;
    width: 100%;
}

.top_form-title{
    font-family: 'Axiforma';
    font-size: 2rem;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 0;
    margin-top: 6px;
}
.top_form-title-line{
    display: flex;
    width: 140px;
    border-bottom: 1px solid #d21e2f;
    border-top: 2px solid #d21e2f;
    border-radius: 1px;
    margin-bottom: 2.2rem;
}

#submit_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item{
    border: 1px solid #555555;
    border-radius: 5px;
    max-width: 327px;
    width: 100%;
    font-size: 1.2rem;
    padding: 6px;
    background-color: rgba(255,255,255,0);
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-bottom: 14px;
    margin-top: 4px;
}

.chekbox-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 327px;
    width: 100%;
}
.checkbox{
    margin: 0;
    margin-right: 10px;
    margin-top: 2px;
}
.chekbox-item-text{
    font-size: 0.7em;
    font-family: 'Axiforma';
    width: 100%;
}

.reg__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d21e2f;
    color: white;
    font-family: "Axiforma";
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px 14px;
    width: 200px;
    margin-top: 20px;
}

.iti{
    border: 1px solid #555555;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0);
    text-align: left;
    outline: none;
    text-decoration: none;
    margin-bottom: 14px;
    margin-top: 4px;
    font-family: Axiforma;
    max-width: 327px;


}
.iti__flag-container{
    border-radius: 7px;
}

.iti__selected-flag{
    border-radius: 7px;
}

input[name="phone2"]{
    padding: 6px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    background-color: rgba(255,255,255,0);

}

/*TOP INFO FORM BLOCK END*/

/*OUR PRODUCTS && BENEFITS BLOCK */

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 0;
}

.products-container{
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.products-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    height: 304px;
    transition: 0.6ms;
    box-sizing: border-box;

}
#benefits .products-item__border-hover:hover{
    background: #f8f8f8;
    border-radius: 7px;
}

#benefits .products-item:hover{
    background: #f8f8f8;
    border-radius: 7px;
}

.products-item__border-hover{
    padding: 5px;
}

.products-item__border-hover:hover{
    background: linear-gradient(-31.0deg, #ffffff -13%, #eaeaea 113%);
    border-radius: 7px;
}

.products-item:hover{
    background: linear-gradient(-46.0deg, #eaeaea 0%, #ffffff 99%);
    border-radius: 7px;
}

.products-image-block{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted #ececec;
    border-radius: 25px;
    width: 124px;
    height: 124px;
    margin: 20px;
}

.products-image-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px solid #ececec;*/
    border-radius: 25px;
    width: 88px;
    height: 88px;
    background-color: #fff;
    box-shadow: 8px 9px 33px 2px rgba(0,0,0,0.1);
}

.products-image{
    height: 36px!important;
}

.product-item-title{
    font-family: 'Axiforma';
    font-size: 1.1rem;
    font-weight: 600;
    color: #3f3e3e;
    /*margin-bottom: 16px;*/
    margin: 0 1.5rem 0 1.5rem;
}

.product-item-text{
    font-family: 'Axiforma';
    font-size: 0.8rem;
    font-weight: 300;
    color: #3f3e3e;
    margin: 0 1.5rem 1.5rem 1.5rem;
}

.products-item.more-btn{
    height: auto;
    width: 320px;
    display: flex;
    justify-content: center;
}

.products-image-block.more-btn{
    width: 210px;
    height: auto;
    padding: 10px 0;
}
.products-image-icon.more-btn{
    width: 176px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.products-item.more-btn{
    align-items: center;
}

.product-item-title.more-btn{
    margin: 0!important;
}

/*OUR PRODUCTS && BENEFITS BLOCK END*/


/*PRESIDENT BLOCK*/

.president-block{
    display: flex;
    width: 100%;
    /*height: 620px;*/
    margin-top: 80px;
    padding-top: 80px ;
    position: relative;
    margin-bottom: 80px;
}
.president-img{
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 500px;
}


.president-info-container{
    box-shadow: 0px 4px 33px 2px rgba(0,0,0,0.49);
    background: linear-gradient(to right, #d21e2f, #db8995);
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 4rem;
    padding-top: 2rem;
}

.president-info-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    width: 55%;
    max-height: 480px;
}

.president-info-container__title{
    font-family: 'Axiforma';
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffffff;
}
.president-info-container__subtitle{
    font-family: 'Axiforma';
    font-size: 1.6rem;
    font-weight: 300;
    color: #f6d1d4;
}

.president-info-container__text{
    font-family: 'Axiforma';
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    font-style: italic;
}

/*MAP OF INVESTMENTS  */

.map-invest{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.map__invest-container{
    padding: 5rem 0 0 0;
    max-width: 880px;

    position: relative;
}

.map__invest-map{
    width: 100%;
}

.map__invest-svg{
    width: 10px;
    height: 14px;
    position: relative;
    left: -10px;
    top: -2px;
}
.map__invest-item.b-columbia{
    width: 250px!important;
}

/*BENEFITS*/

.benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

/*CAREER*/

.career{
    background-image: url("../img/career-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-bottom: 100px;
    box-shadow: 6px 7px 43px 3px rgba(0,0,0,0.28);
}

.career-title.page-title{
    margin-top: 2.3rem;
    color: #fff;
}
.career-info{
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    font-family: 'Axiforma';
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
    max-width: 82%;
    text-align: center;
}

.career__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d21e2f;
    width: 270px;
    padding: 8px 14px;
    font-family: 'Axiforma';
    font-size: 1.6rem;
    color:#fff;
    text-decoration: none;
    border-radius: 5px;
}

/*BLOG*/
.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.to-all__btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.to-all__btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    padding: 0 2rem;
}
.to-all__btn{
    background-color: rgb(210, 30, 47);
    color: #f1f1f1;
    font-family: Axiforma;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}
/*BLOG END*/
/*SUBSCRIBE TO NEWS*/

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.subscribe-subtitle{
    font-family: "Axiforma";
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color:#2e2e2e;
    max-width: 60%;
}

.subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subscribe-email-label{
    position: relative;
}

.subscribe-email-label::before{
    content: 'Email';
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 0.8rem;
    color: #555555;
    font-family: Axiforma;

}

.subscribe-email.form-item{
    text-align: left;
    margin-right: 20px;
    margin-top: 14px;
}

.subscribe__btn{
    font-size: 1.2rem;
    padding: 6px 15px;
    color: white;
    background: #d21e2f;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


