html,*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
}

.page-title{
    font-family: Axiforma;
    font-size: 2rem ;
    font-weight: 700;
    color: #3f3e3e;
    margin: 0;
    text-align: center;
}

/*PRELOADER*/

#preloader{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(25,25,25,0.7);

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.preloader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    max-width: 420px;
    width: 100%;
    height: auto;
    padding: 3rem;

    position: relative;
}
.close-preloader{
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    /*border: 2px solid rgb(25,25,25);*/
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.preloader-title{
    font-size: 3.2rem;
    font-family: Axiforma;
    color: #009142;
}
.close-preloader svg:hover{
    animation: circleClose 2s infinite;
}

@keyframes circleClose {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}


/*PRELOADER END*/

/*HEADER*/

.header__navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    border-bottom: 2px solid #fff;
    z-index:999999999;
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.header__navbar__list{
    display: flex;
    justify-content: space-around;
    width: 65%;
    align-items: center;
}


.header__navbar__list-item{
    font-family: 'Axiforma';
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
.header__navbar__list-item.active{
    border-bottom: 3px solid #d21e2f;
    border-radius: 1px;
}

.mobile__navbar{
    display: none;
}

/*HEADER END*/





/*FOOTER */

.footer{
    background: #2b2b2b;
    padding: 3rem 4rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-container{
    width: 25%;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.footer-list-block{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-list-item{
    text-decoration: none;
    font-size: 1rem;
    color: #f1f1f1;
    font-family: Axiforma;
    margin-top: 3px;
    margin-bottom: 3px;
}

.footer-list-item{
    display: flex;
    /*padding: 5px;*/
    justify-content: space-between;
    align-items: center;
}


.contact-footer-img-container{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-footer-img{
    margin-right: 20px;
}

.footer-social-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.footer-social-item{
    text-decoration: none;
    margin-right: 8px;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 2rem;
}

.footer-copyright-text{
    font-size: 1rem;
    color: #f1f1f1;
    font-family: Axiforma;
    font-weight: 300;
}

.footer-mob-logo{
    display: none;
}

@media all and (max-width: 480px){
    body{
        overflow-x:hidden!important;
    }
    /*HEADER NAVBAR*/
    .footer-logo{
        display: none;
    }
    .footer-mob-logo{
        display: block;
    }
    .header__navbar{
        display: none;
    }
    .mobile__navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
    }
    .logo__navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 10px;
        position: fixed;
        max-width: 100%;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid rgba(255,255,255,0.6);
        background: #000;
        z-index: 300;
    }
    .burger_menu-open{
        opacity: 0.7;
        width: 44px;
        height: 44px;
        background-image: url("../img/burger.svg");
    }
    .burger_menu-open.close{
        opacity: 0.7;
        width: 44px;
        height: 44px;
        background-image: url("../img/xmark-solid.svg");
    }

    .header__navbar__list-mobile{
        display: none;
    }
    .header__navbar__list-mobile.mobile_show{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 200;
    }
    .header__navbar__list-item  {
        font-size: 2.5rem;
        text-align: center;
    }

    /*FOOTER*/

    .footer{
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-logo-container{
        width: 100%;
    }
    .footer-container{
        width: 100%;
    }
    .footer-list-block{
        flex-wrap: wrap;
        justify-content:center;
    }
    .footer-list{
        margin: 20px;
        align-items: center;
    }

}
