
.map__invest-item{
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: Axiforma;
    font-weight: 600;
    font-size: 0.85rem;
    color: #d21e2f;
    background-color: #f8f8f8;
    /*border: 1px solid #3f3e3e;*/
    box-shadow: 0px 0px 5px 1px rgba(25,25,25,0.2);
    width: 200px;
    z-index: 300;
}
.show-map-pin{
    display: flex;
    width: 6px;
    height: 6px;
    background-color: #d21e2f;
    border-radius: 50%;
    /*opacity: 0;*/
}

/*MADRID*/
.madrid{
    position: absolute;
    top: 41%;
    left: 24.3%;
}
.show-map-pin.madrid{
    position: absolute;
    top: 48.6%;
    left: 46.9%;
    cursor: pointer;
}
.show-map-pin.madrid:hover ~ .madrid.map__invest-item{
    display: flex;
}
/*BABAJOZ*/
.badajoz{
    position: absolute;
    top: 42.3%;
    left: 23.6%;
}
.show-map-pin.badajoz{
    position: absolute;
    top: 49.8%;
    left: 46.1%;
    cursor: pointer;
}
.show-map-pin.badajoz:hover ~ .badajoz.map__invest-item{
    display: flex;
}
/*LYON*/
.lyon{
    position: absolute;
    top: 38.7%;
    left: 26.7%;
}
.show-map-pin.lyon{
    position: absolute;
    top: 46.2%;
    left: 49.25%;
    cursor: pointer;
}
.show-map-pin.lyon:hover ~ .lyon.map__invest-item{
    display: flex;
}
/*BRATISLAVA*/
.bratislava{
    position: absolute;
    top: 37.3%;
    left: 30.7%;
}
.show-map-pin.bratislava{
    position: absolute;
    top: 45.2%;
    left: 53.25%;
    cursor: pointer;
}
.show-map-pin.bratislava:hover ~ .bratislava.map__invest-item{
    display: flex;
}
/*DUSSELDORF*/
.dusseldorf{
    position: absolute;
    top: 36%;
    left: 29.8%;
}
.show-map-pin.dusseldorf{
    position: absolute;
    top: 44%;
    left: 52.5%;
    cursor: pointer;
}
.show-map-pin.dusseldorf:hover ~ .dusseldorf.map__invest-item{
    display: flex;
}
/*RZESZOW*/
.rzeszow{
    position: absolute;
    top: 36%;
    left: 31.3%;
}
.show-map-pin.rzeszow{
    position: absolute;
    top: 44%;
    left: 54%;
    cursor: pointer;
}
.show-map-pin.rzeszow:hover ~ .rzeszow.map__invest-item{
    display: flex;
}
/*LUXEMBOURG*/
.luxembourg{
    position: absolute;
    top: 36%;
    left: 28.8%;
}
.show-map-pin.luxembourg{
    position: absolute;
    top: 44%;
    left: 51.65%;
    cursor: pointer;
}
.show-map-pin.luxembourg:hover ~ .luxembourg.map__invest-item{
    display: flex;
}
/*GHENT*/
.ghent{
    position: absolute;
    top: 34.8%;
    left: 29%;
}
.show-map-pin.ghent{
    position: absolute;
    top: 42.7%;
    left: 51.65%;
    cursor: pointer;
}
.show-map-pin.ghent:hover ~ .ghent.map__invest-item{
    display: flex;
}
/*zurich*/
.zurich{
    position: absolute;
    top: 37.4%;
    left: 29%;
}
.show-map-pin.zurich{
    position: absolute;
    top: 45.1%;
    left: 51.65%;
    cursor: pointer;
}
.show-map-pin.zurich:hover ~ .zurich.map__invest-item{
    display: flex;
}
/*RIGA*/
.riga{
    position: absolute;
    top: 32.4%;
    left: 30.6%;
}
.show-map-pin.riga{
    position: absolute;
    top: 40.25%;
    left: 53.25%;
    cursor: pointer;
}
.show-map-pin.riga:hover ~ .riga.map__invest-item{
    display: flex;
}
/*ST-PETERBURG*/
.st-peterburg{
    position: absolute;
    top: 30%;
    left: 31.4%;
}
.show-map-pin.st-peterburg{
    position: absolute;
    top: 37.75%;
    left: 54.05%;
    cursor: pointer;
}
.show-map-pin.st-peterburg:hover ~ .st-peterburg.map__invest-item{
    display: flex;
}
/*ESKISEHIR*/
.eskisehir{
    position: absolute;
    top: 42%;
    left: 33.7%;
}
.show-map-pin.eskisehir{
    position: absolute;
    top: 49.85%;
    left: 56.4%;
    cursor: pointer;
}
.show-map-pin.eskisehir:hover ~ .eskisehir.map__invest-item{
    display: flex;
}
/*KIROV*/
.kirov{
    position: absolute;
    top: 29%;
    left: 36.7%;
}
.show-map-pin.kirov{
    position: absolute;
    top: 36.5%;
    left: 59.6%;
    cursor: pointer;
}
.show-map-pin.kirov:hover ~ .kirov.map__invest-item{
    display: flex;
}
/*ASTRAHAN*/
.astrahen{
    position: absolute;
    top: 38.5%;
    left: 36.7%;
}

.show-map-pin.astrahen{
    position: absolute;
    top: 46.2%;
    left: 59.6%;
    cursor: pointer;
}
.show-map-pin.astrahen:hover ~ .astrahen.map__invest-item{
    display: flex;
}
/*UFA*/
.ufa{
    position: absolute;
    top: 31.5%;
    left: 41%;
}
.show-map-pin.ufa{
    position: absolute;
    top: 39.2%;
    left: 63.6%;
    cursor: pointer;
}
.show-map-pin.ufa:hover ~ .ufa.map__invest-item{
    display: flex;
}
/*PERM*/
.perm{
    position: absolute;
    top: 29%;
    left: 41.6%;
}
.show-map-pin.perm{
    position: absolute;
    top: 36.6%;
    left: 64.4%;
    cursor: pointer;
}
.show-map-pin.perm:hover ~ .perm.map__invest-item{
    display: flex;
}
/*KRASNOYARSK*/
.krasnoyarsk{
    position: absolute;
    top: 33.7%;
    left: 47.3%;
}
.show-map-pin.krasnoyarsk{
    position: absolute;
    top: 41.4%;
    left: 69.9%;
    cursor: pointer;
}
.show-map-pin.krasnoyarsk:hover ~ .krasnoyarsk.map__invest-item{
    display: flex;
}
/*Ulaanbaatar*/
.ulaanbaatar{
    position: absolute;
    top: 43.7%;
    left: 47.3%;
}
.show-map-pin.ulaanbaatar{
    position: absolute;
    top: 51%;
    left: 69.9%;
    cursor: pointer;
}
.show-map-pin.ulaanbaatar:hover ~ .ulaanbaatar.map__invest-item{
    display: flex;
}
/*yakutsk*/
.yakutsk{
    position: absolute;
    top: 33.8%;
    left: 55.2%;
}
.show-map-pin.yakutsk{
    position: absolute;
    top: 41.5%;
    left: 77.9%;
    cursor: pointer;
}
.show-map-pin.yakutsk:hover ~ .yakutsk.map__invest-item{
    display: flex;
}
/*caracas*/
.caracas{
    position: absolute;
    top: 60.1%;
    left: 31.7%;
}
.show-map-pin.caracas{
    position: absolute;
    top: 68%;
    left: 31%;
    cursor: pointer;
}
.show-map-pin.caracas:hover ~ .caracas.map__invest-item{
    display: flex;
}
/*maracay*/
.maracay{
    position: absolute;
    top: 60.1%;
    left: 30.8%;
}
.show-map-pin.maracay{
    position: absolute;
    top: 68%;
    left: 30.2%;
    cursor: pointer;
}
.show-map-pin.maracay:hover ~ .maracay.map__invest-item{
    display: flex;
}
/*valencia*/
.valencia{
    position: absolute;
    top: 60.1%;
    left: 30%;
}
.show-map-pin.valencia{
    position: absolute;
    top: 68%;
    left: 29.45%;
    cursor: pointer;
}
.show-map-pin.valencia:hover ~ .valencia.map__invest-item{
    display: flex;
}
/*oklahoma*/
.oklahoma{
    position: absolute;
    top: 43.3%;
    left: 20.6%;
}
.show-map-pin.oklahoma{
    position: absolute;
    top: 51%;
    left: 19.9%;
    cursor: pointer;
}
.show-map-pin.oklahoma:hover ~ .oklahoma.map__invest-item{
    display: flex;
}
/*edmonton*/
.edmonton{
    position: absolute;
    top: 31.3%;
    left: 18.3%;
}
.show-map-pin.edmonton{
    position: absolute;
    top: 39%;
    left: 17.5%;
    cursor: pointer;
}
.show-map-pin.edmonton:hover ~ .edmonton.map__invest-item{
    display: flex;
}
/*b-columbia*/
.b-columbia{
    position: absolute;
    top: 31.3%;
    left: 16.6%;
}
.show-map-pin.b-columbia{
    position: absolute;
    top: 39%;
    left: 15.9%;
    cursor: pointer;
}
.show-map-pin.b-columbia:hover ~ .b-columbia.map__invest-item{
    display: flex;
}
/*yukon*/
.yukon{
    position: absolute;
    top: 33%;
    left: 13.4%;
}
.show-map-pin.yukon{
    position: absolute;
    top: 31.8%;
    left: 12.7%;
    cursor: pointer;
}
.show-map-pin.yukon:hover ~ .yukon.map__invest-item{
    display: flex;
}