@media all and (max-width: 480px){

    /*TOP INFO FORM */
    .top_info{
        padding: 140px 10px;
    }
    .top_info-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .top_info-text{
        padding: 0;
    }
    .top_info-text-title{
        font-size: 2.7rem;
        text-align: center;
        line-height: 1;
    }
    .top_info-text-subtitle{
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    /*PRODUCTS BENEFITS*/

    .products{
        padding: 0;
    }
    .products-item{
        margin: 0;
        align-items: center;
    }
    .products-item::before{
        margin: 0;
    }
    .product-item-text{
        text-align: center;
    }

    /*PRESIDENT BLOCK*/
    .president-img{
        display: none;
    }
    .president-info-container{
        padding: 1rem;
    }
    .president-info-block{
        padding: 10px;
        width: 100%;
        max-height: 100%;
    }

    /*MAP BLOCK*/
    #map{
        display: none;
    }

    /*CAREER BLOCK*/
    .career{
        padding: 0 0 50px 0;
        margin-bottom: 0;
    }
    .career-info{
        margin-top: 0;
        width: 100%;
        font-size: 1.2rem;
    }
    .career__btn{
        font-size: 1.4rem;
    }

    /*SUBSCRIBE*/

    .subscribe-subtitle{
        width: 100%;
    }
    .subscribe-form{
        flex-direction: column;
    }
    .subscribe-email.form-item{
        margin-right: 0;
    }
    .subscribe__btn{
        width: 70%;
        padding: 10px;
        height: auto;
    }
    .subscribe-email-label::before{
        left: auto;
        right: 100px;
        bottom: -10px;
        top: auto;
    }

}