.select{
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 18px Axiforma;
    color:#3f3e3e;
    border:1px solid #3e3e3e;
    width: 220px;
    border-radius: 6px;
    padding: 6px 10px;
}

.select-box{
    display: flex;
    justify-content: space-between;
}

ul.sel-list{
    position: absolute;
    top:25px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f8f8f8;
    z-index: 23;
    width: 100%;
    border: 1px solid #3e3e3e;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
}

li.sel-item{
    list-style: none;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(25,25,25,0.4);
    transition: 0.6s;

}

.sel-item:hover{
    color:#d21e2f;
    margin-left: 4px;
    transition: 0.6s;
}

.sel-list.active{
    display: flex;
}