<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domini | Blog</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="../assets/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <!--    universal-->
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/main.css">

    <!--    this page styles-->
    <link rel="stylesheet" href="../assets/css/blog.css">


</head>
<body id="app">

<!--HEADER -->

<header class="header__navbar" id="header">
    <div class="container desktop">
        <div class="logo__navbar">
            <a href="../" class="logo__navbar-link">
            <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
            </a>
        </div>
        <div class="header__navbar__list">
            <a href="../" class="header__navbar__list-item">Home</a>
            <a href="../about-us" class="header__navbar__list-item">About Us</a>
            <a href="../products" class="header__navbar__list-item">Products</a>
            <a href="../career" class="header__navbar__list-item">Career</a>
            <a href="#" class="header__navbar__list-item active">Blog</a>
            <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
        </div>
    </div>
</header>

<div class="mobile__navbar">
    <div class="logo__navbar">
        <a href="../" class="logo__navbar-link">
        <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
        </a>
        <div class="burger_menu-open" v-on:click="showMobileNavbar()"></div>
    </div>
    <div class="header__navbar__list-mobile">
        <a href="../" class="header__navbar__list-item">Home</a>
        <a href="../about-us" class="header__navbar__list-item">About Us</a>
        <a href="../products" class="header__navbar__list-item">Products</a>
        <a href="../career" class="header__navbar__list-item">Career</a>
        <a href="#" class="header__navbar__list-item active">Blog</a>
        <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
    </div>
</div>

<!--HEADER END-->

<section class="p-top-info" id="p-top-info">
    <div class="p-top-info-container">
        <h3 class="p-top-info-title">
            BLOG
        </h3>
        <h3 class="p-top-info-subtitle">
            Domini Invest Group
        </h3>
    </div>
</section>


<section class="blog__main" id="blog-page">

    <div class="search">
        <div class="search-container">
            <h3 class="search__text">Search Article</h3>
            <div class="search__input-box">
                <input type="text" class="search__input" name="search-article" placeholder="theme, key words, date..." v-model="search">
                <svg fill="#d21e2f" width="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>
            </div>
        </div>
    </div>

    <div class="articles__box">
        <div class="articles__box-list" v-for="article in filteredList">
            <div class="articles__box-list-item">
                <div class="item-img">
                    <img v-bind:src="article.imgSrc" alt="">
                </div>
                <div class="item-text-box">
                    <span class="item-date">{{ article.date }}</span>
                    <h5 class="item-title">{{ article.title }}</h5>
                    <p class="item-text">
                        {{ article.text }}
                    </p>
                    <a v-bind:href="article.href" class="item-link">READ MORE</a>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="subscribe" id="subscribe">
    <h3 class="subscribe-title page-title">
        Subscribe to news
    </h3>
    <h5 class="subscribe-subtitle">
        Subscribe to the news and be the first to know about new products
        and services, conditions and company news!
    </h5>
    <form class="subscribe-form" id="subscribe__form" v-on:submit.prevent="submitForm">
        <label for="subscribe-email" class="subscribe-email-label"></label>
        <input type="email" id="subscribe-email" name="email" class="subscribe-email form-item" required>
        <input type="hidden" name="subject" value="subscribe form">
        <button class="subscribe__btn" type="submit">Subscribe</button>
    </form>
</div>


<!--FOOTER -->
<footer class="footer" id="footer">
    <div class="footer-logo-container">
        <img src="../assets/img/footer-logo.png" alt="" class="footer-logo">
<!--        <img src="../assets/img/logo_site_9.png" alt="" class="footer-mob-logo">-->
    </div>
    <div class="footer-container">
        <div class="footer-list-block">
            <div class="footer-list">
                <a href="../" class="footer-list-item">Home</a>
                <a href="../about-us" class="footer-list-item">About Us</a>
                <a href="../products" class="footer-list-item">Products</a>
                <a href="../career" class="footer-list-item">Career</a>
                <a href="../contact-us" class="footer-list-item">Contact Us</a>
            </div>
            <div class="footer-list">
<!--                <a href="" class="footer-list-item">Terms</a>-->
                <a href="../contact-us" class="footer-list-item">For Investors</a>
<!--                <a href="" class="footer-list-item">Documents</a>-->
<!--                <a href="" class="footer-list-item">Offers</a>-->
                <a href="../contact-us" class="footer-list-item">Support</a>
            </div>
            <div class="footer-list">
                <a href="" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/map-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">Istanbul, Turkey</span>
                </a>
                <a href="mailto:contact@domini-group.eu" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/mail-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">contact@domini-group.eu</span>
                </a>
                <a href="tel:+909876543210" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/phone-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">+ 90 987 654 3210</span>
                </a>
                <div class="footer-social-list">
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/insta-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/facebook-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/twitter-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/youtube-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/linkedin-icon.png" alt="" class="footer-social-img">
                    </a>
                </div>
            </div>

        </div>
        <div class="footer-copyright">
            <p class="footer-copyright-text">
                Domini Invest Group, 2022
            </p>
        </div>
    </div>
</footer>
<!--FOOTER END-->


<script src="../assets/js/vue-next.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../assets/js/jquery.3.6.0.min.js"></script>



</body>
</html>