<!DOCTYPE html>
<html lang="en" xmlns:v-on="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domini | Products</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="../assets/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <!--    universal-->
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/main.css">

<!--    this page styles-->
    <link rel="stylesheet" href="../assets/css/productspage.css">


</head>
<body id="app">

<!--HEADER -->

<header class="header__navbar" id="header">
    <div class="container desktop">
        <div class="logo__navbar">
            <a href="../" class="logo__navbar-link">
            <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
            </a>
        </div>
        <div class="header__navbar__list">
            <a href="../" class="header__navbar__list-item">Home</a>
            <a href="../about-us" class="header__navbar__list-item">About Us</a>
            <a href="#" class="header__navbar__list-item active">Products</a>
            <a href="../career" class="header__navbar__list-item">Career</a>
            <a href="../blog" class="header__navbar__list-item">Blog</a>
            <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
        </div>
    </div>
</header>

<div class="mobile__navbar">
    <div class="logo__navbar">
        <a href="../" class="logo__navbar-link">
        <img src="../assets/img/logo_site_9.png" alt="" class="header__logo">
        </a>
        <div class="burger_menu-open" v-on:click="showMobileNavbar()"></div>
    </div>
    <div class="header__navbar__list-mobile">
        <a href="../" class="header__navbar__list-item">Home</a>
        <a href="../about-us" class="header__navbar__list-item">About Us</a>
        <a href="#" class="header__navbar__list-item active">Products</a>
        <a href="../career" class="header__navbar__list-item">Career</a>
        <a href="../blog" class="header__navbar__list-item">Blog</a>
        <a href="../contact-us" class="header__navbar__list-item">Contact Us</a>
    </div>
</div>

<!--HEADER END-->

<section class="p-top-info" id="p-top-info">
    <div class="p-top-info-container">
        <h3 class="p-top-info-title">
            PRODUCTS
        </h3>
        <h3 class="p-top-info-subtitle">
            of Domini Invest Group
        </h3>
    </div>
</section>


<section class="p-products" id="p-products">


        <div class="products-container"  v-for="prodPageItem in productPageItems">
            <div class="products-item__border-hover">
                <div class="products-item">
                    <div class="products-item-info">
                        <div class="products-image-block">
                            <div class="products-image-icon">
                                <img v-bind:src="prodPageItem.imgSrc" alt="" class="products-image">
                            </div>
                        </div>
                        <div class="product-item-info-container">
                            <h6 class="product-item-title">{{ prodPageItem.title }}</h6>
                            <p class="product-item-text">
                                {{ prodPageItem.text }}
                            </p>
                        </div>
                    </div>
                    <div class="products-item-more-btn">
                        <a v-bind:href="prodPageItem.href" class="products__more-btn">
                            More About
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products__bottom-info-item">
            <img src="../assets/img/__356.png" alt="" class="products__bottom-info-img">
<!--            <p class="products__bottom-info-before">!</p>-->
            <p class="products__bottom-info-text">
                All products have the necessary certificates and Domini Invest Group can provide the necessary documentation to confirm the legal extraction, transportation or sale of a particular product.
            </p>
        </div>
</section>





<!--FOOTER -->
<footer class="footer" id="footer">
    <div class="footer-logo-container">
        <img src="../assets/img/footer-logo.png" alt="" class="footer-logo">
<!--        <img src="../assets/img/logo_site_9.png" alt="" class="footer-mob-logo">-->
    </div>
    <div class="footer-container">
        <div class="footer-list-block">
            <div class="footer-list">
                <a href="../" class="footer-list-item">Home</a>
                <a href="../about-us" class="footer-list-item">About Us</a>
                <a href="#" class="footer-list-item">Products</a>
                <a href="../career" class="footer-list-item">Career</a>
                <a href="../contact-us" class="footer-list-item">Contact Us</a>
            </div>
            <div class="footer-list">
<!--                <a href="" class="footer-list-item">Terms</a>-->
                <a href="../contact-us" class="footer-list-item">For Investors</a>
<!--                <a href="" class="footer-list-item">Documents</a>-->
<!--                <a href="" class="footer-list-item">Offers</a>-->
                <a href="../contact-us" class="footer-list-item">Support</a>
            </div>
            <div class="footer-list">
                <a href="" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/map-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">Istanbul, Turkey</span>
                </a>
                <a href="mailto:contact@domini-group.eu" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/mail-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">contact@domini-group.eu</span>
                </a>
                <a href="tel:+909876543210" class="footer-list-item">
                    <div class="contact-footer-img-container">
                        <img src="../assets/img/social-icons/phone-icon.png" alt="" class="contact-footer-img">
                    </div>
                    <span class="contact-footer-text">+ 90 987 654 3210</span>
                </a>
                <div class="footer-social-list">
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/insta-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/facebook-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/twitter-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/youtube-icon.png" alt="" class="footer-social-img">
                    </a>
                    <a href="" class="footer-social-item">
                        <img src="../assets/img/social-icons/linkedin-icon.png" alt="" class="footer-social-img">
                    </a>
                </div>
            </div>

        </div>
        <div class="footer-copyright">
            <p class="footer-copyright-text">
                Domini Invest Group, 2022
            </p>
        </div>
    </div>
</footer>
<!--FOOTER END-->


<script src="../assets/js/vue-next.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../assets/js/jquery.3.6.0.min.js"></script>




</body>
</html>