<!--HEADER -->

<header class="header__navbar" id="header">
    <div class="container desktop">
        <div class="logo__navbar">
            <a href="../../" class="logo__navbar-link">
                <img src="../../assets/img/logo_site_9.png" alt="" class="header__logo">
            </a>
        </div>
        <div class="header__navbar__list">
            <a href="../../" class="header__navbar__list-item">Home</a>
            <a href="../../about-us" class="header__navbar__list-item">About Us</a>
            <a href="../../products" class="header__navbar__list-item active">Products</a>
            <a href="../../career" class="header__navbar__list-item">Career</a>
            <a href="../../blog" class="header__navbar__list-item">Blog</a>
            <a href="../../contact-us" class="header__navbar__list-item">Contact Us</a>
        </div>
    </div>
</header>

<div class="mobile__navbar">
    <div class="logo__navbar">
        <a href="../../" class="logo__navbar-link">
            <img src="../../assets/img/logo_site_9.png" alt="" class="header__logo">
        </a>
        <div class="burger_menu-open" ></div>
    </div>
    <div class="header__navbar__list-mobile">
        <a href="../../" class="header__navbar__list-item">Home</a>
        <a href="../../about-us" class="header__navbar__list-item">About Us</a>
        <a href="../../products" class="header__navbar__list-item active">Products</a>
        <a href="../../career" class="header__navbar__list-item">Career</a>
        <a href="../../blog" class="header__navbar__list-item ">Blog</a>
        <a href="../../contact-us" class="header__navbar__list-item">Contact Us</a>
    </div>
</div>

<!--HEADER END-->
